---
permalink: /
title: Start
layout: landing.liquid
---
<section class="landing">
  <div class="inner">
    <div class="columns three">
      <article>
        <h3>What</h3>
        <p>Something slightly prettier than a random collection of git repos.</p>
      </article>
      <article>
        <h3>Who</h3>
        <p><a href="https://github.com/thallheim">thallheim @ github</a></p>
      </article>
      <article>
        <h3>How</h3>
        <dl>
          <dt><a href="https://github.com/cobalt-org/cobalt.rs">Cobalt</a></dt>
          <dd>A static site generator in Rust.</dd>
          <dt><a href="https://github.com/Shopify/liquid">Liquid</a></dt>
          <dd>A templating language by Shopify.</dd>
          <dt><a href="https://sass-lang.com">Sass</a></dt>
          <dd>Syntactically awesome style sheets.</dd>
          <dt>CI</dt>
          <dd>GH Actions/Workflows on self-hosted runners. </dd>
          <dt>CD</dt>
          <dd>GH Workflows; hosted on <a href="https://www.cloudflare.com/">Cloudflare</a>.</dd>
        </dl>
      </article>
     </div>
  </div>
</section>
