@import '../../_sass/base-colours';


$col-background: #D1D2D4;

$font-stack: helvetica, arial, sans-serif;
$font-main: 'Victor Mono', monospace;

$breakpoint: 55em;


html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: calc(100% - 15px);
  background: $light-grey;
  // border-top: 15px solid $dark-green;
  border-top: 15px;
  border-top-style: solid;
  border-top-color: linear-gradient(90deg, $light-grey 20%, $dark-green 100%);
  color: $dark-grey;
  font-family: $font-main;
  line-height: 1.3;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.flex_main {
  flex: 1;
}

a {
  color: $dark-orange;
  padding: 0.1em 0.1em;
  text-decoration: none;
  font-weight: bold;


}
a:hover {
  // background: $violet;
  // color: $white;
}

hr {
    color: #ccc;
    width: 75%;
}

header {
  text-align: center;
  padding-top: 1em;
}

header .secondary a:hover {
    background: $col-background;
}

header .primary h1 {
  text-align: center;
  margin-bottom: 0;
}

header .primary h1 a {
  color: $dark-blue;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

header .primary h1 span {
  display: flex;
}

header .secondary h2 {
  font-size: 2em;
  line-height: 1;
  margin-top: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

// ------------------------------------------------------- QUERY WIDTH
@media (max-width: 51em) {
  header nav {
    max-width: 100%;
    overflow: hidden;
  }
  header .inner {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}

header .inner {
  padding: 0;
}

header nav .button {
  margin: 0 1px;
  // transform: skewX(-15deg) translateX(10px);
  padding: 0.75em 1em;
  border-radius: 5.5;
}

header nav .button > span {
  // transform: skewX(15deg);
  display: inline-block;
}

@media (min-width: 51em) {
  header .inner {
    display: flex;
    justify-content: center;
  }

  header .primary {
    align-items: flex-start;
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    justify-content: center;
  }

  header .primary h1 a {
    font-size: 1.75em;
  }

  header .secondary {
    align-items: flex-start;
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0.8rem;
  }

  header h1 {
    margin: 0.5em 0;
  }
}

.inner {
  padding: 0 1em 0 1em;
}

@media (min-width: 51em) {
  .inner {
    margin: 0 auto;
    max-width: $breakpoint;
    padding: 0 0 0 0;
  }
}

section {
  padding: 1em 0;
  position: relative;
}

section.landing h2,
section.landing h3 {
  font-size: 1.5em;
}

section.landing article {
  padding-top: 1em;
}

section.landing article h3 {
  font-size: 1.5em;
  text-decoration: dotted underline;
  text-decoration-color: $med-grey;
  margin-bottom: 0.5px;
  margin-top: 0;
}

section.landing p {
  margin-top: 0;
}

section.docs aside ul {
  list-style-type: none;
  padding: 0;
}

section.docs aside ul li a {
  display: inline-block;
  margin-bottom: 0.25em;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

section.docs aside ul li a.active,
section.docs aside ul li a:hover,
section.docs aside ul li a:active,
section.docs aside ul li a:focus {
  font-weight: bold;
  background: $violet;
  color: $white;
  padding: 0.1em 0.1em;
  border-radius: 3px;
}

@media (min-width: 61em) {

  section.docs .inner {
    display: flex;
  }

  section.docs aside {
    flex: 0 0 30%;
  }

  section.docs main {
    flex: 0 1 70%;
  }

  section.code .inner {
    display: flex;
  }

  section.code aside {
    flex: 0 0 30%;
  }

  section.code main {
    flex: 0 1 70%;
  }
}


pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: $dark-grey;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  text-shadow: none;
  overflow-x: auto;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: $dark-grey;
  text-shadow: none;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

.top_margin {
  padding-top: 1em;
}

.button {
  background: $light-grey;
  border-radius: 5px;
  color: $white;
  text-decoration: none;
  padding: 0.5em;
  transition: background 0.5s ease-out;
}

.button:hover {
    // text-shadow: -2px 0px 5px $black, 2px 0px 5px $white;
    text-shadow: 0px 0px 5px $black;
    transition: background 0.25s ease-in;
}
.button:active,
.button:focus {
  background: $light-grey;
}

.button.code {
  background: $dark-orange;
}

.button.code:hover,
.button.code:active,
.button.code:focus {
  background: $orange;
}

.button.docs {
  background: $dark-violet;
}

.button.docs:hover,
.button.docs:active,
.button.docs:focus {
  background: $violet;
}

.button.start {
  background: $dark-green;
}

.button.start:hover,
.button.start:active,
.button.start:focus {
  background: $light-green;
}


.button.musings {
  background: $dark-blue;
}

.button.musings:hover,
.button.musings:active,
.button.musings:focus {
  background: $blue;
}


@media (min-width: 51em) {
  .columns {
    display: flex;
  }

  .columns.three > article {
    flex: 0 1 33%;
    margin-right: 3%;
  }

  .columns.three > article:last-child {
    margin-right: 0;
  }
}

footer {
  background: $dark-grey;
  color: $light-grey;
  text-align: center;
}

footer .inner {
  padding-bottom: 0;
}

footer p {
  margin: 0;
  padding: 1em 0;
}

table {
    border-collapse: collapse;
}

table thead {
    background-color: $blue;
    color: $white;
}

table thead th {
    border: 1px solid $dark-blue;
    padding: 0.5em;
}

table tbody td {
    border: 1px solid #ccc;
    padding: 0.5em;
}
