<div class="inner">
  <div class="primary">
      {% include "navbar.liquid" %}
  </div>
  <div class="secondary">
    <h1><a href="/">
      <img src="/public/images/logo_v6_500.png" width="350" />
    </a></h1>
  </div>
</div>
