<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">
  <title>thallheim :: {{ page.title }}</title>
<link rel="stylesheet" href="/public/css/styles.css">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');
</style>