<nav>
    <a href="/" class="button start"><span>Høme</span></a>
    <a href="/code" class="button code"><span>Cøde</span></a>
    <a href="/docs" class="button docs"><span>Cobalt ref</span></a>
    <a href="/musings" class="button musings"><span>Musings</span></a>
  </nav>