$blue: #738ABF;
$dark-blue: darken($blue, 15%);
$med-dark-blue: darken($blue, 8%);
$light-blue: lighten($blue, 15%);
$med-light-blue: lighten($blue, 8%);

$green: #66B52E;
$dark-green: darken($green, 15%);
$med-dark-green: darken($green, 8%);
$light-green: lighten($green, 15%);
$med-light-green: lighten($green, 8%);

$orange: #F1592A;
$dark-orange: darken($orange, 15%);
$light-orange: lighten($orange, 15%);

$violet: #8661C1;
$dark-violet: darken($violet, 15%);

$yellow: #FFB100;
$dark-yellow: darken($yellow, 15%);
$light-yellow: lighten($yellow, 15%);
$med-light-yellow: lighten($yellow, 8%);
$med-dark-yellow: darken($yellow, 8%);

$dark-grey: #181818;
$med-grey: #6D6E71;
$med-dark-grey: #2e2e2e;
$light-grey: #D1D2D4;

$black: #000;
$white: #fff;
